<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/screen5.css">
<link rel="stylesheet" href="../static/css/keyboard.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="main">
	<div class="container-left">
		<div class="icon-question">
			<img src="../static/images/questionmark1.png" class="questionmarkk"/>
		</div>
		<div class= "icon-gallery">
			<img src="../static/images//test6-logo.png"  width=90% height=90% />
		</div>
	</div>
	<div class="container-right">
		<div class="sub-top">
			<div class="content">
				<div class="left-bar">
					
				</div>
				<div class="right-button">
					<p>Exit</p>
				</div>
			</div>
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                   <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                   <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                   <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                   <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                   <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                   <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                   <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                   <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom1">
			<div class="frame1">
				<div class="sub-left">
                   <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
			<button> <a href="test7_start_page.html" style="text-decoration: none; color: #fff">Next Test</a> </button>
		</div>
	</div>
</div>
<script src="../static/js/keyboard.js"></script>
</body>
</html>