<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css//screen8.css">
</head>

<body>
<div class="main">
	<div class="container-left">
		<div class="icon-question">
			<img src="../static/images/questionmark1.png" class="questionmarkk"/>
		</div>
		<div class= "icon-gallery">
			<img src="../static/images/test8-logo.png" width=90% height=90%/>
		</div>
	</div>
	<div class="container-right">
		<div class="sub-top">
			<div class="content">
	
				<div class="right-button">
					<p>Exit</p>
				</div>
			</div>
		</div>
		<div class="sub-bottom">
            <div class="bottom-top">
                <select name="dob-month" id="dob-month" class = "dob_element" >
                    <option value="">Topic 1 name</option>
                    <option value="01">Topic 2 Name</option>
                    <option value="02">Topic 3 name</option>
                </select>
            </div>
            <div class="bottom-middle">
                <div class="option_1" style="white-space: pre-wrap;">Option 1 &#10 upload a hand written essay
                </div>
                <div class="option_2" style="white-space: pre-wrap;">Option 2 &#10 type your essay here
                </div>

            </div>
			<div class="frame">
				<div class="sub-left">
                    <img src="../static/images/upload_symbol.png"/>
                </div>
                <div class ="middle">
                    <p>OR</p>
                </div>
				<div class="sub-right">
			
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
</body>
</html>