<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <!-- Bootstrap CSS File -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/test_start_page.css">
</head>

<body>
<div class="main">
	<div class="container-right">
		<div class="sub-top">
			<div class="content">
				<div class="left-bar">
					
				</div>
				<div class="right-button">
					<p>Exit</p>
				</div>
			</div>
		</div>
		<div class="sub-bottom">
			<div class="sub-left">
				<img src="../static/images/test1.png" width=80% height=75%/>
            </div>
                
			<div class="sub-right">
                <div class="box">
                    <div class="heading">
                        Picture-Word - MCQ
                    </div>
                    <div class="text">
                        Subheading text here. Dummy Text: Dyslexia is a neurological symptom wherein an individual experiences difficulty reading.
                    </div>
                    <button class = "start_button" style="text-decoration: none; color: #fff">Start</button>
                	
                </div>
				
			</div>		
		</div>
	</div>
</div>
<script src="../static/lib/jquery/jquery.min.js"></script>
<script src="../static/lib/jquery/jquery-migrate.min.js"></script>
<script src="../static/lib/mobile-nav/mobile-nav.js"></script>
<script src="../static/lib/wow/wow.min.js"></script>
<script src="../static/js/test1_start_pageJS.js"></script>
</body>
</html>